# Dataset Research

> We will use SQL queries just for experience.

In [1]:
import psycopg
import pandas as pd

In [2]:
with open("../../../JupyterFiles/dbpass.txt", "r") as pwrdfile:
    usrnm = pwrdfile.readline().strip()
    pwrd = pwrdfile.readline().strip()
    dbnm = pwrdfile.readline().strip()

In [5]:
with psycopg.connect(dbname=dbnm, user=usrnm, password=pwrd) as conn:
    with conn.cursor() as cur:

        cur.execute("SET search_path TO mvp_schema")

        cur.execute("""
            SELECT * FROM mvp_dataset
            """)
        
        dataset = cur.fetchall()

        cur.execute("""SELECT attname AS column_name
FROM pg_catalog.pg_attribute
JOIN pg_catalog.pg_class ON pg_class.oid = pg_attribute.attrelid
JOIN pg_catalog.pg_namespace ON pg_namespace.oid = pg_class.relnamespace
WHERE pg_namespace.nspname = 'mvp_schema' AND pg_class.relname = 'mvp_dataset' AND pg_attribute.attnum > 0 AND NOT pg_attribute.attisdropped;""")

        colnames = cur.fetchall()

        df = pd.DataFrame(data=dataset)

In [18]:
coln = [tup[0] for tup in colnames]
df.columns = coln

In [21]:
df

,country_code,series_id,2000,2001,2002,2003,2004,2005,2006,2007,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,ARG,1,19.366,18.983,18.756,18.453,18.352,18.353,18.194,18.005,...,17.87,17.806,17.729,17.632,17.504,17.346,16.824,16.206,15.187,14.783
1,AUT,1,9.8,9.4,9.7,9.5,9.7,9.5,9.4,9.2,...,9.4,9.3,9.4,9.4,9.6,9.8,10.0,10.0,9.7,9.6
2,BLR,1,9.4,9.2,8.9,9.0,9.1,9.3,9.9,10.7,...,11.4,11.5,12.2,12.5,12.5,12.5,12.4,10.8,9.9,9.3
3,BEL,1,11.4,11.2,10.9,11.0,11.3,11.4,11.6,11.7,...,11.9,11.7,11.5,11.3,11.2,10.8,10.8,10.5,10.4,10.2
4,CRI,1,19.788,19.104,18.12,17.656,17.228,16.99,16.797,16.823,...,16.04,15.772,15.483,15.093,14.852,14.522,14.145,13.926,13.562,12.847
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,NOR,15,95.5223846435547,96.2686538696289,97.0149230957031,96.5174102783203,98.5576934814453,98.5576934814453,99.038459777832,100.0,...,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0,100.0
266,PER,15,36.8159217834473,45.7711448669434,54.7263679504395,51.243782043457,45.6730766296387,50.0,50.961540222168,51.4423065185547,...,52.6066360473633,53.521125793457,54.4600944519043,52.1126747131348,54.679801940918,54.679801940918,55.1724128723145,55.1724128723145,54.1062812805176,55.5555572509766
267,SWE,15,98.5074615478516,98.5074615478516,98.5074615478516,98.0099487304688,99.038459777832,96.6346130371094,96.6346130371094,98.5576934814453,...,98.1042633056641,99.530517578125,99.530517578125,99.06103515625,99.5073928833008,99.5073928833008,99.5073928833008,99.5073928833008,98.0676345825195,99.0338134765625
268,THA,15,63.1840782165527,60.4477596282959,57.7114410400391,55.7213935852051,54.8076934814453,46.6346168518066,26.9230766296387,31.730770111084,...,32.7014236450195,33.8028182983398,36.6197166442871,34.2723007202148,23.1527099609375,22.1674880981445,21.674877166748,21.1822662353516,19.8067626953125,23.6714973449707
269,USA,15,89.0547256469727,90.5472640991211,92.0398025512695,91.0447769165039,89.9038467407227,89.9038467407227,86.538459777832,85.5769195556641,...,85.7819900512695,86.3849792480469,87.7934265136719,84.0375595092773,81.7733993530273,84.2364501953125,84.2364501953125,81.2807846069336,79.7101440429688,76.328498840332